.Button,
.Button:link,
.Button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 11rem;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin: 0.7rem;
}

.Button:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.Button:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0; 
}

.Button:active, .Button:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}

.Button--white {
  background-color: #fff;
  color: #777; 
}

.Button--white::after {
  background-color: #fff; 
}

.Button--green {
  background-color: #55c57a;
  color: #fff; 
}

.Button--green::after {
  background-color: #55c57a; 
}

.Button--success {
  background-color: #67b9d8;
  color: #fff; 
}

.Button--success::after {
  background-color: #67b9d8; 
}

.Button--danger {
  background-color: #e7b7d5;
  color: #fff; 
}

.Button--danger::after {
  background-color: #e7b7d5; 
}

.Button--warning {
  background-color: #ffc77d;
  color: #fff; 
}

.Button--warning::after {
  background-color: #ffc77d; 
}

.Button--warning--outline {
  background-color: #fff;
  border: 1px solid #ffc77d;
  color: #ffc77d; 
}

.Button--warning--outline:hover {
  background-color: #ffc77d; 
  color: #fff
}

.Button-text-warning:hover {
  background-color: #ffc77d;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); 
}

.Button--green--outline {
  background-color: #fff;
  border: 1px solid #55c57a;
  color: #55c57a; 
}

.Button--green--outline::after {
  background-color: #55c57a; 
}

.Button--success--outline {
  background-color: #fff;
  border: 1px solid #67b9d8;
  color: #67b9d8; 
}

.Button--success--outline:hover {
  background-color: #67b9d8; 
  color: #fff;
}

.Button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; 
}

.Button-text:link, .Button-text:visited {
  font-size: 1.2rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; 
}

.Button-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); 
}

.Button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); 
}
