.MainPage-CustomJumbotron-1 > div > div {
  color: #ffffffe0;
  font-size: 2.5rem;
}

.MainPage-CustomJumbotron-1 {
  height: 50%;
}

.MainPage-title {
  padding-top: 50px;
  color: floralwhite;
  text-shadow: 2px 2px 0px #bfe195ee;
  font-size: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  animation-duration: 2000ms;
  animation-name: titleAnimation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@-webkit-keyframes titleAnimation { 
  from { 
    transform: translateY(100%);
    opacity: 0;
    z-index: 999;
    text-shadow: 100px 100px 0px #bfe195ee,-100px -100px 0px dodgerblue;
  } 
  to { 
    transform: translateY(0);
    opacity: 0.7;
    z-index: 999;
    text-shadow: 2px 2px 0px #bfe195ee;
  }  
}
@keyframes titleAnimation { 
  from { 
    transform: translateY(100%);
    opacity: 0;
    z-index: 999;
    text-shadow: 100px 100px 0px #bfe195ee,-100px -100px 0px dodgerblue;
  } 
  to { 
    transform: translateY(0);
    opacity: 1;
    z-index: 999;
    text-shadow: 2px 2px 0px #bfe195ee;
  }  
}

/* MEDIUM DISPLAY only */
@media (min-width: 481px) and (max-width:813px) {

  .MainPage-CustomJumbotron-1 {
    height: 100%!important;
  }

  .MainPage-CustomJumbotron-1 > div > div {
    color: #ffffffe0;
    font-size: 4rem;
  }

}


/* MAXIMUM DISPLAY only */
@media (min-width: 814px) {

  .MainPage-CustomJumbotron-1 {
    height: 50vh;
  }

  .MainPage-CustomJumbotron-1 > div > div {
    color: #ffffffe0;
    font-size: 6rem;
  }

}

@media (min-height: 400px) {
  .MainPage-CustomJumbotron-1 {
    height: 100vh;
  }
}



