.JobItem {
  transition: all 150ms;
}
.JobItem:hover {
  border-left: 3px solid #69b400;
  background-color: #f0f8e5;
}

/* Job Text/Info */
.companyJob {
  font-size: 1.75rem;
  color: #79c40d;
}

.companyName {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #999999;
}

.companyAddress p {
  margin: 0;
}

.createdAt {
  color: lightgrey;
  font-variant-caps: all-petite-caps;
}

/* Bookmark  */
.JobListItem-bookmark, 
.JobListItem-bookmark:hover, 
.JobListItem-bookmark-div:hover > p { 
  color: #ffc77d;
  cursor: pointer;
  opacity: 1;
  transition: all 150ms linear;
  font-size: 1.5rem;
}

.JobListItem-bookmark-div {
  position: relative;
}

.JobListItem-bookmark-div:hover::before {
  text-shadow: none;
  content: "Bookmark";
  color: #ffc77d;
  position: absolute;
  border: 2px solid #ffc77d;
  background-color: #ffffff;
  top: -3rem;
  left: -6rem;
  padding: 2px 5px;
  border-radius: 4px;
}

.JobListItem-bookmark-div > p {
  opacity: 0;
  color: #ffc77d;
  font-variant-caps: all-petite-caps;
  font-size: 3px!important;
  margin: 0 1rem;
}
